.intro {
  padding-left: 148px;
  padding-top: 92px;
  max-width: 690px;
  display: flex;
  flex-direction: column;

}

@media (max-width: 1150px) {
  .intro {
    padding-left: 48px;
  }
}

@media (max-width: 1000px) {
  .intro {
    padding: 88px 0 0;
    margin: auto;
    max-width: 720px;
  }
}

@media (max-width: 760px) {
  .intro {
    padding: 64px 16px 0;
  }
}

@media (max-width: 370px) {
  .intro {
    padding: 64px 0 0;
    max-width: 288px;
  }
}
