@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/clickable/clickable.css);

.page {
  width: 100%;
  max-width: 1280px;
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  margin: auto;
  color: white;
}

.header {
  max-height: 52px;
  display: flex;
  justify-content: space-between;
  margin: 28px 48px 0;

}

@media (max-width: 1000px) {
  .header {
    margin: 28px 24px 0;
  }
}

@media (max-width: 350px) {
  .header {
    margin: 16px 16px 0;
    max-height: 42px;
  }
}

.logo {
  width: 100%;
  height: 100%;
}

@media (max-width: 350px) {
  .header__logo {
    max-width: 142px;
  }
}

.header__lang-links {
  display: flex;
  column-gap: 18px;
}

.header__lang-link {
  padding: 18px 0 6px;
  text-decoration: none;
  color: white;
  width: 30px;
  height: 28px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
}

@media (max-width: 350px) {
  .header__lang-link {
    padding: 14px 0 8px;
    width: 22px;
    height: 20px;
    font-size: 18px;
    line-height: 1.11;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.lead {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;

}

@media (max-width: 1150px) {
  .lead {
    padding-top: 48px;
  }
}

.lead__title {
  text-align: center;
  margin: 0;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin-bottom: 32px;
}


@media (max-width: 720px) {
  .lead__title {
    max-width: 320px;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 16px;
  }
}

.lead__subtitle {
  text-align: center;
  margin: 0;
  max-width: 640px;
  font-weight:400;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 64px;
}

@media (max-width: 1150px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media (max-width: 720px) {
  .lead__subtitle {
    max-width: 320px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
}

.lead__image-with-capture {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 100%;
}

@media (max-width: 1150px) {
  .lead__image-with-capture {
    max-width: calc(100% - 48px * 2);
  }
}

@media (max-width: 1000px) {
  .lead__image-with-capture {
    max-width: 100%;
  }
}

.lead__caption {
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media (max-width: 350px) {
  .lead__caption {
    padding-left: 16px;
  }
}


.intro {
  padding-left: 148px;
  padding-top: 92px;
  max-width: 690px;
  display: flex;
  flex-direction: column;

}

@media (max-width: 1150px) {
  .intro {
    padding-left: 48px;
  }
}

@media (max-width: 1000px) {
  .intro {
    padding: 88px 0 0;
    margin: auto;
    max-width: 720px;
  }
}

@media (max-width: 350px) {
  .intro {
    padding: 64px 0 0;
    max-width: 288px;
  }
}

.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin-bottom: 40px;
}

@media (max-width: 350px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    }
  }

.intro__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 33px;
}

.intro__list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  list-style-type: none;
}

.intro__list_type_span {
  font-weight: 400;
}

.photo-grid {
  display: flex;
  justify-content: center;
	padding-top: 92px;
}

@media (max-width: 1000px) {
  .photo-grid {
    padding-top: 88px;
  }
}

@media (max-width: 370px) {
  .photo-grid {
    padding-top: 64px;
  }
}

.photo-grid__items {
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media (max-width: 1150px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media (max-width: 1000px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
  }
}

@media (max-width: 370px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
  }
}

.photo-grid__item {
  width: 100%;
  display: block;
}

.places {
  padding-top: 92px;
  margin: 0 auto 92px;
  max-width: 984px;
  display: flex;
  flex-direction: column;
	gap: 80px;
}

@media (max-width: 1150px) {
  .places {
    max-width: calc(100% - 48px * 2);
  }
}

@media (max-width: 1000px) {
  .places {
    max-width: calc(100% - 24px * 2);
    margin: 0 auto 90px;
		gap: 72px;
  }
}

@media (max-width: 650px) {
	.places {
		max-width: 100%;
		padding-top: 64px;
    margin: 0 auto 66px;
		gap: 50px;
	}
}

.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
  "title website"
  "image paragraphs"
  "image paragraphs";
  column-gap: 40px;
	row-gap: 48px;
	justify-content: center;
}

@media (max-width: 1150px) {
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media (max-width: 1000px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
}

@media (max-width: 650px) {
  .place {
    grid-template-columns: 100%;
		grid-template-areas:
		"title"
		"website"
		"image"
		"paragraphs";
    row-gap: 32px;
  }
}

.place__title {
  grid-area: title;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

.place__title:first-child {
  white-space: pre-line;
}

@media (max-width: 1000px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media (max-width: 650px) {
  .place__title {
    min-width: 288px;
		margin: 0 auto;
    font-size: 32px;
    line-height: 1.09;
  }
  .place__title:first-child {
    white-space: normal;
  }
}

.place__image {
  max-width: 100%;
  grid-area: image;
}

.place__website {
  grid-area: website;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 650px) {
  .place__website {
    min-width: 288px;
		margin: 0 auto;
	}
}

.place__url-heading {
  grid-area: url;
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #aaa;
}

.place__link {
  grid-area: link;
  margin: 0;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.link_active {
  text-decoration-line: underline;
}

.place__paragraphs {
  grid-area: paragraphs;
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

@media (max-width: 1000px) {
  .place__paragraphs {
    gap: 25px;
  }
}

@media (max-width: 650px) {
  .place__paragraphs {
    max-width: 288px;
    margin: 0 auto;
  }
}

.place__paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

@media (max-width: 1000px) {
  .place__paragraph {
    font-size: 16px;
  }
}

.cover {
  background: no-repeat center/cover url(/images/__background.png);
  max-width: 1184px;
  max-height: 740px;
  height: 100vh;
  width: 100%;
	margin: 0 auto;
  position: relative;
}

@media (max-width: 1200px) {
  .cover {
    max-width: 1024px;
    max-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover {
    max-width: 768px;
    max-height: 480px;
  }
}

@media (max-width: 450px) {
  .cover {
    max-width: 320px;
    max-height: 200px;
  }
}

.cover__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  text-decoration: none;
  color: white;
  background: rgba(42, 44, 47, .3);
}

@media (max-width: 570px) {
  .cover__overlay {
    gap: 16px;
  }
}

.cover__title {
  max-width: 560px;
  text-align: center;
	margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media (max-width: 570px) {
  .cover__title {
    max-width: 288px;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
  }
}

.cover__subtitle {
  max-width: 360px;
  text-align: center;
	margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media (max-width: 570px) {
  .cover__subtitle {
    max-width: 288px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
  }
}

.footer {
  padding-top: 92px;
  max-width: 1184px;
  max-height: 18px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 950px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media (max-width: 630px) {
  .footer {
    flex-direction: column;
    margin: 0 0 0 16px;
    max-width: 186px;
    min-height: 310px;
    padding-top: 64px;
  }
}


.footer__links {
  margin: 0;
  display: flex;
  gap: 18px;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 630px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}


.footer__link {
  color:white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-decoration: none;
}

@media (max-width: 630px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

@media (max-width: 630px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1;
  }
}

* {
  outline: 1px solid red;
}
