@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/opacity/opacity.css);

.page {
  width: 100%;
  /* min-width: 320px; - надо разобраться, появляется скролл*/
  max-width: 1280px;
  max-height: 6875px;
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  /* overflow-x: hidden; */
  box-sizing: border-box;
  margin: auto;
  color: white;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; */

}

.header {
  max-width: 1184px;
  max-height: 52px;
  display: flex;
  justify-content: space-between;
  margin: 28px 48px 0;

}

@media all and (max-width: 768px) {
  .header {
    margin: 28px 24px 0;
  }
}

@media all and (max-width: 350px) {
  .header {
    margin: 16px 16px 0;
    max-height: 42px;
  }
}

.logo {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 350px) {
  .header__logo {
    max-width: 142px;
  }
}

.header__lang-links {
  display: flex;
  column-gap: 18px;
}

.header__lang-link {
  padding: 18px 0 6px;
  text-decoration: none;
  color: white;
  width: 30px;
  height: 28px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
}

@media all and (max-width: 350px) {
  .header__lang-link {
    padding: 14px 0 8px;
    width: 22px;
    height: 20px;
    font-size: 18px;
    line-height: 1.11;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.lead {
  /* max-width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;

}

.lead__title {
  text-align: center;
  margin: 0;
  max-width: 720px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin-bottom: 32px;
}

@media all and (max-width: 720px) {
  .lead__title {
    max-width: 320px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 16px;
  }
}

.lead__subtitle {
  text-align: center;
  margin: 0;
  max-width: 640px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight:400;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 64px;
}

@media all and (max-width: 720px) {
  .lead__subtitle {
    max-width: 320px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
}

.lead__image-with-capture {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 984px;


}

@media all and (max-width: 1150px) {
  .lead__image-with-capture {
    max-width: calc(100% - 48px * 2);
  }
}

@media all and (max-width: 1000px) {
  .lead__image-with-capture {
    max-width: 100%;
  }
}


.lead__image {

}

.lead__caption {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  padding-left: 148px;
  padding-top: 92px;
  max-width: 690px;
  display: flex;
  flex-direction: column;

}

@media all and (max-width: 1150px) {
  .intro {
    padding-left: 48px;
  }
}

@media all and (max-width: 1000px) {
  .intro {
    padding: 88px 0 0;
    margin: auto;
    max-width: 720px;
  }
}

@media all and (max-width: 350px) {
  .intro {
    padding: 64px 0 0;
    margin: auto;
    max-width: 288px;
  }
}

.intro__title {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin-bottom: 40px;
}

@media all and (max-width: 350px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.19;
    }
  }

.intro__text {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 33px;
}

@media all and (max-width: 350px) {
  .intro__text {
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 34px;
    }
  }

.intro__list {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  list-style-type: none;
}

.into__list-span {
  font-weight: 400;
}

.photo-grid {
  display: flex;
  justify-content: center;
	padding-top: 92px;
}

@media all and (max-width: 1000px) {
  .photo-grid {
    padding-top: 88px;
  }
}

.photo-grid__items {
  max-width: 100%;
  margin: 0;
  padding: 0;
  /* padding: 0 48px; */
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;

}

@media all and (max-width: 1150px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media all and (max-width: 1000px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
  }
}

@media all and (max-width: 370px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
  }
}

.photo-grid__item {
  width: 100%;
  /* height: 100%; */
  /* object-fit: contain; */
  display: block;
}
.places {
  padding-top: 92px;
  margin: auto;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
}

@media all and (max-width: 1150px) {
  .places {
    max-width: calc(100% - 48px * 2);
  }
}

@media all and (max-width: 1000px) {
  .places {
    max-width: calc(100% - 24px * 2);
  }
}


.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
  "title website"
  "image paragraphs"
  "image paragraphs";
  column-gap: 40px;
  margin-bottom: 80px;
}

@media all and (max-width: 1150px) {
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media all and (max-width: 1000px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
}

.place:last-of-type {
  margin: 0;
}

.place__title {
  grid-area: title;
  margin: 0 0 48px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media all and (max-width: 1000px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

.place__image {
  max-width: 100%;
  grid-area: image;
  /* max-width: 440px; */
}

.place__website {
  grid-area: website;
  margin: 0 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;


}
.place__url-heading {
  grid-area: url;
  margin: 0 0 12px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #aaa;
}
.place__link {
  grid-area: link;
  margin: 0;
  text-decoration: none;
  color: white;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.link_active {
  text-decoration-line: underline;
}

.place__paragraphs {
  grid-area: paragraphs;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media all and (max-width: 1000px) {
  .place__paragraphs {
    gap: 25px;
  }
}

.place__paragraph {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

@media all and (max-width: 1000px) {
  .place__paragraph {
    font-size: 16px;
  }
}

* {
  outline: 1px solid red;
}
