@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/opacity/opacity.css);

.page {
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  max-height: 6875px;
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  /* overflow: hidden; */
  box-sizing: border-box;
  margin: auto;
  color: white;

}

.header {
  max-width: 1184px;
  max-height: 52px;
  display: flex;
  justify-content: space-between;
  margin: 28px 48px 0;

}

@media all and (max-width: 768px) {
  .header {
    margin: 28px 24px 0;
  }
}

@media all and (max-width: 350px) {
  .header {
    margin: 16px 16px 0;
    max-height: 42px;
  }
}

.logo {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 350px) {
  .header__logo {
    max-width: 142px;
  }
}

.header__lang-links {
  display: flex;
  column-gap: 18px;
}

.header__lang-link {
  padding: 18px 0 6px;
  text-decoration: none;
  color: white;
  width: 30px;
  height: 28px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
}

@media all and (max-width: 350px) {
  .header__lang-link {
    padding: 14px 0 8px;
    width: 22px;
    height: 20px;
    font-size: 18px;
    line-height: 1.11;
  }
}

.header__lang-link_active {
  text-decoration-line: underline;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 56px;
}

.lead__title {
  text-align: center;
  margin: 0;
  max-width: 720px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin-bottom: 32px;
}

@media all and (max-width: 720px) {
  .lead__title {
    max-width: 320px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 16px;
  }
}

.lead__subtitle {
  text-align: center;
  margin: 0;
  max-width: 640px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight:400;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 64px;
}

@media all and (max-width: 720px) {
  .lead__subtitle {
    max-width: 320px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }
}

.lead__image-with-capture {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 984px;
}

@media all and (max-width: 1150px) {
  .lead__image-with-capture {
    max-width: calc(100% - 48px * 2);
  }
}

@media all and (max-width: 1000px) {
  .lead__image-with-capture {
    max-width: 100%;
  }
}


.lead__image {

}

.lead__caption {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  padding-left: 148px;
  padding-top: 92px;
  max-width: 690px;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1150px) {
  .intro {
    padding-left: 48px;
  }
}

@media all and (max-width: 1000px) {
  .intro {
    padding: 88px 0 0;
    margin: auto;
    max-width: 720px;
  }
}

@media all and (max-width: 350px) {
  .intro {
    padding: 64px 0 0;
    margin: auto;
    max-width: 288px;
  }
}

.intro__title {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin-bottom: 40px;
}

@media all and (max-width: 350px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.19;
    }
  }

.intro__text {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 33px;
}

@media all and (max-width: 350px) {
  .intro__text {
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 34px;
    }
  }

.intro__list {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  list-style-type: none;
}

.into__list-span {
  font-weight: 400;
}

.photo-grid {
  margin: auto;
}
.photo-grid__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(auto-fit, auto);
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


* {
  outline: 1px solid red;
}
