.footer {
  padding-top: 92px;
  max-width: 1184px;
  max-height: 18px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 950px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media (max-width: 630px) {
  .footer {
    flex-direction: column;
    margin: 0 0 0 16px;
    max-width: 186px;
    min-height: 310px;
    padding-top: 64px;
  }
}
